.course-banner {
    background-color: #262c2c;
    width: 100%;
    color: white;
    padding: 1em;
    margin-top: 32px;
}

.course-banner .container .sub-container {
    width: 70%;
    margin-left: 0;
}

.course-banner .line {
    flex-direction: row;
}

.course-banner .line span,
.course-banner .line a {
    margin-right: .5em;
}

.course-banner .tags {
    float: right;
}