.certificate-banner {
    background-color: #1B224E;
    width: 100%;
    color: white;
    padding: 10px;
}

.certificate-banner h1 {
    font-size: 2rem;
}

.certificate-banner a {
    color: white;
    text-decoration: none;
}

.certificate-banner a:hover {
    text-decoration: none;
    color: white;
}

.pre-test-info {
    padding: 30px;
    text-align: center;
}

.info-box {
    background-color: #DFDFE1;
    padding: 30px;
}

.info-box h2 {
    margin-bottom: 30px;
}

.info-box p:last-child {
    text-align: center;
    margin-top: 30px;
}

.take-test-btn {
    border: solid 1px black;
    background-color: forestgreen;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    padding: 7px;
}

