.course-sidebar {
    position: absolute;
    width: 400px;
    height: 40%;
    right: 0;
    top: 0;
}

.overview {
    background-color: white;
    margin-top: -5px;
}

.overview-h {
    background-color: #2c5385;
    font-size: 1.5em;
    padding: .5rem 1rem;
    border: solid #2c5385 1px;
    margin: 0;
    height: 65px;
}

.overview-h h3 {
    color: white;
    min-height: 55px;
    line-height: 200%;
}

.close-btn {
    background-color: transparent;
    color: white;
    border: none;
    float: right;
    padding: .5rem 1rem;
    line-height: 145%;
    margin-right: -10px;
}

.course-content {
    background-color: coral;
    height: 400px;
    width: 100%;
    padding: 1.5rem;
}

.course-container {
    display: table;
    margin: 0 auto;
}

.course-navigation {
    list-style: none;
    display: inline-flex;
}

.navbar-width {
    height: 60px;
}

