.chapter-bar {
    width: 60%;
    margin-left: 0;
    margin-top: 50px;
}

.course-drop {
    margin-top: -2px;
}

.drop-button {
    width: 100%;
    height: 60px;
    padding: 5px;
    text-align: left;
}

.drop-button h3 {
    font-size: 1.4em;
    margin-bottom: 1px;
}

.drop-button h3 i {
    float: right;
    margin-top: 15px;
}

.drop-menu {
    margin-top: -2px;
    border: solid 2px;
    box-sizing: content-box;
}

.drop-menu li 
{
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -10px;
}

.drop-list {
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
}