.side-bar {
    width: 20%;
    background-color: white;
    position: relative;
    color: black
}

.side-item {
    color: black;
}

/*
.drop-button {
    width: 80%;
    text-align: left;
}
*/


.drop-button i {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.fa-caret-down {
    margin-left: 10px;
}
